<!-- <p>signup works!</p> -->



<div class="container shadow-lg justify-content-centre mt-5 mb-2">
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" novalidate >
      <h2>Create Your Account</h2>
  
      <!-- First Name -->
      <div class="form-group mb-2">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          class="form-control"
          placeholder="Enter the First Name"
          ngModel
          required
          #firstName="ngModel"
        />
        <div class="error" *ngIf="firstName.invalid && firstName.touched">
          First name is required.
        </div>
      </div>
  
      <!-- Last Name -->
      <div class="form-group mb-2">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          class="form-control"
          placeholder="Enter the Last Name"
          ngModel
          required
          #lastName="ngModel"
        />
        <div class="error" *ngIf="lastName.invalid && lastName.touched">
          Last name is required.
        </div>
      </div>
  
      <!-- Email -->
      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input
          type="email"
          [pattern]="EMAIL_PATTERN"
          id="email"
          name="emailId"
          class="form-control"
          ngModel
          required
          email
          #email="ngModel"
          placeholder="Enter the Email Id"
        />
        <div class="error" *ngIf="email.invalid && email.touched">
          Please enter a valid email address.
        </div>
      </div>
  
      <!-- mobileno -->
      <div class="form-group mb-2">
        <label for="mobileno">Mobile No</label>
        <input
          type="number"
          id="mobileno"
          name="mobileNo"
          class="form-control"
          ngModel
          required
          placeholder="Enter the Mobile no"
          #mobileno="ngModel"
        />
        <div class="error" *ngIf="mobileno.invalid && mobileno.touched">
          Please Enter the Mobile no
        </div>
      </div>
  
      
      <!-- Password -->
      <div class="form-group mb-2">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter the Password"
          ngModel
          required
          minlength="4"
          #password="ngModel"
        />
        <div class="error" *ngIf="password.invalid && password.touched">
          Password must be at least 8 characters long.
        </div>
      </div>
  
      <!-- Address -->
      <div class="form-group mb-2">
        <label for="address">address</label>
        <input
          type="text"
          id="address"
          name="addressCity"
          class="form-control"
          ngModel
          required
          placeholder="Enter the Address city"
          
          #address="ngModel"
        />
        <div class="error" *ngIf="address.invalid && address.touched">
          Please Enter the address
        </div>
      </div>
  
      <div class="form-group mb-2">
        <label for="role">Gender </label>
        <label for="">
            <input type="radio" ngModel name="gender" value="male">&nbsp;Male
            &nbsp;&nbsp;&nbsp;
            <input type="radio" ngModel name="gender" value="female">&nbsp;Female
        </label>
        
      </div>
  
      <button type="submit" class="btn btn-primary mb-2" [disabled]="signupForm.invalid">
        Sign Up
      </button>&nbsp;&nbsp;
      <a routerLink="">? alerady register</a>
    </form>
  </div>
