


.employee-card:hover .employee-img {
    transform: scale(1.1);
}

.employee-card {
    transition: transform 0.3s ease-in-out;
}

.employee-card:hover {
    transform: translateY(-10px);
}

.btn-primary {
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
}

#employees {
    margin-top: 30px; /* Adjust as needed */
}

button{
    margin-right: 30px;
}

